{% capture example %}
<img
  src="{{ example_image_url }}"
  alt="{{ example_image_alt }}"
  width="{{ example_image_width }}"
  height="{{ example_image_height }}"
  class="w-full"
/>
<div class="prose leading-snug sm:text-lg xl:text-xl">
  {% include 'partials/heading.liquid' content: 'Beispiel' class: 'mb-3 sm:mb-4
  md:mb-5 font-normal text-magenta-500' %}
  <p>{{ example }}</p>
</div>
{% endcapture %} {% include 'partials/angle_block.liquid' content: example
class: 'container max-w-7xl my-8 sm:my-12 md:my-16 p-4 py-8 sm:p-8 md:p-12 grid
grid-cols-1 md:grid-cols-[1fr,2fr] lg:grid-cols-[2fr,3fr,1fr] gap-8 sm:gap-12
md:gap-16 items-center' ariaLabel: 'Beispiel Abschnitt des Moduls' %}
